<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>


<p>フォローしている人</p>
<% @user.following.each do |following| %>
  <p><%= following.name %> </p>
<% end %>

<p>フォロ-されている人</p>
<% @user.followers.each do |followers| %>
  <p><%= followers.name %> </p>
<% end %>
